@page
@model ClinicWebCore.Pages.Contacts.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contact.FirstName" class="control-label"></label>
                <input asp-for="Contact.FirstName" class="form-control" />
                <span asp-validation-for="Contact.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.MiddleName" class="control-label"></label>
                <input asp-for="Contact.MiddleName" class="form-control" />
                <span asp-validation-for="Contact.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.LastName" class="control-label"></label>
                <input asp-for="Contact.LastName" class="form-control" />
                <span asp-validation-for="Contact.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Phone" class="control-label"></label>
                <input asp-for="Contact.Phone" class="form-control" />
                <span asp-validation-for="Contact.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Email" class="control-label"></label>
                <input asp-for="Contact.Email" class="form-control" />
                <span asp-validation-for="Contact.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.AddressID" class="control-label"></label>
                <select asp-for="Contact.AddressID" class="form-control">
                    <option value="">Вибір адреси</option>
                    @foreach (var item in Model.AddressList)
                    {
                        <option value="@item.AddressID">
                            @Model.GetAddressToString(item.AddressID)
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Birthday" class="control-label"></label>
                <input asp-for="Contact.Birthday" class="form-control" />
                <span asp-validation-for="Contact.Birthday" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
