@page
@model ClinicWebCore.Pages.Patients.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Patient.PatientID" />
            <div class="form-group">
                <label asp-for="Patient.ContactID" class="control-label"></label>
                <select asp-for="Patient.ContactID" class="form-control" asp-items="ViewBag.ContactID"></select>
                <span asp-validation-for="Patient.ContactID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.MedicalHistoryRegistoreNumber" class="control-label"></label>
                <input asp-for="Patient.MedicalHistoryRegistoreNumber" class="form-control" />
                <span asp-validation-for="Patient.MedicalHistoryRegistoreNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.CreatedAt" class="control-label"></label>
                <input asp-for="Patient.CreatedAt" class="form-control" />
                <span asp-validation-for="Patient.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.UpdatedAt" class="control-label"></label>
                <input asp-for="Patient.UpdatedAt" class="form-control" />
                <span asp-validation-for="Patient.UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
